/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$overlay: rgba(#000000, 0.65);
$white: #fff;
$black: #000;
$red: #ba0909;
$spotify: #1DB954;
$soundcloud: #ff7700;
