/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Nunito";
    text-align:center;
    font-size: rem-calc(44);
    font-weight: 400;
}
h2{
    font-family: "Roboto Condensed";
    font-size: rem-calc(25);
    font-weight: 200;
}
p{
    font-family: "Roboto Condensed";
}
