.albumInfo{
    //hidden elemnt differing responsive grid layouts
    max-width: 1200px;
    text-align: center;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas:
    ". infoImg ."
    ". icons ."
    ". title ."
    ". info ."
    ". tracklist ."
    ". video .";
    @include md{
        margin-left: 5%;
        margin-right: 5%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        grid-template-areas:
        "infoImg title"
        "infoImg icons"
        "info tracklist";
    }
    @include lg{
        margin-left: 15%;
        margin-right: 15%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        grid-template-areas:
        "infoImg infoImg title"
        "infoImg infoImg icons"
        "tracklist info info";
    }
    @include xl{
        margin-left: 20%;
        margin-right: 20%;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 40px;
        grid-template-areas:
        "title title title infoImg infoImg infoImg"
        "icons icons icons infoImg infoImg infoImg"
        "info info info info tracklist tracklist";
    }
}

//album cover styling
.infoImg{
    grid-area: infoImg;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50px;
}

//icon styling
.icons{
    grid-area: icons;
    font-size: rem-calc(40);
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    bottom: 20px;
    a:nth-child(1){
        color: $spotify;
    }
    a:nth-child(2){
        color: $soundcloud;
    }
}

// title styling
.title{
    grid-area: title;
    padding-top: 20px;
    @include md{
        padding-top: 20%;
    }
}
//background styling
.info{
    grid-area: info;
    text-align: left;
    h2{
        margin-bottom: 10px;
        margin-top: 30px;
    }
    p{
        line-height: rem-calc(22);
    }
}

//tracklist styling
.tracklist{
    grid-area: tracklist;
    text-align: left;
    h2{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    p{
        line-height: rem-calc(22);
    }
}
