/* =============
    Homepage
============= */

section{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas:
    "1a 1b 1c 1d"
    "2a 2b 2c 2d"
    "3a 3b 3c 3d"
    "4a 4b 4c 4d"

    "5a 5b 5c 5d"
    "6a 6b 6c 6d"
    "7a 7b 7c 7d"
    "8a 8b 8c 8d"

    "9a 9b 9c 9d"
    "10a 10b 10c 10d"
    "11a 11b 11c 11d"
    "12a 12b 12c 12d"

    "13a 13b 13c 13d"
    "14a 14b 14c 14d"
    "15a 15b 15c 15d"
    "16a 16b 16c 16d"
}

#homepage{
    ul:nth-child(1){
        li:nth-child(1){
            grid-area: 1a;
        }
        li:nth-child(2){
            grid-area: 1b;
        }
        li:nth-child(3){
            grid-area: 1c;
        }
        li:nth-child(4){
            grid-area: 1d;
        }
    }

    ul:nth-child(2){
        li:nth-child(1){
            grid-area: 2a;
        }
        li:nth-child(2){
            grid-area: 2b;
        }
        li:nth-child(3){
            grid-area: 2c;
        }
        li:nth-child(4){
            grid-area: 2d;
        }
    }

    ul:nth-child(3){
        li:nth-child(1){
            grid-area: 3a;
        }
        li:nth-child(2){
            grid-area: 3b;
        }
        li:nth-child(3){
            grid-area: 3c;
        }
        li:nth-child(4){
            grid-area: 3d;
        }
    }

    ul:nth-child(4){
        li:nth-child(1){
            grid-area: 4a;
        }
        li:nth-child(2){
            grid-area: 4b;
        }
        li:nth-child(3){
            grid-area: 4c;
        }
        li:nth-child(4){
            grid-area: 4d;
        }
    }

    ul:nth-child(5){
        li:nth-child(1){
            grid-area: 5a;
        }
        li:nth-child(2){
            grid-area: 5b;
        }
        li:nth-child(3){
            grid-area: 5c;
        }
        li:nth-child(4){
            grid-area: 5d;
        }
    }

    ul:nth-child(6){
        li:nth-child(1){
            grid-area: 6a;
        }
        li:nth-child(2){
            grid-area: 6b;
        }
        li:nth-child(3){
            grid-area: 6c;
        }
        li:nth-child(4){
            grid-area: 6d;
        }
    }

    ul:nth-child(7){
        li:nth-child(1){
            grid-area: 7a;
        }
        li:nth-child(2){
            grid-area: 7b;
        }
        li:nth-child(3){
            grid-area: 7c;
        }
        li:nth-child(4){
            grid-area: 7d;
        }
    }

    ul:nth-child(8){
        li:nth-child(1){
            grid-area: 8a;
        }
        li:nth-child(2){
            grid-area: 8b;
        }
        li:nth-child(3){
            grid-area: 8c;
        }
        li:nth-child(4){
            grid-area: 8d;
        }
    }

    ul:nth-child(9){
        li:nth-child(1){
            grid-area: 9a;
        }
        li:nth-child(2){
            grid-area: 9b;
        }
        li:nth-child(3){
            grid-area: 9c;
        }
        li:nth-child(4){
            grid-area: 9d;
        }
    }

    ul:nth-child(10){
        li:nth-child(1){
            grid-area: 10a;
        }
        li:nth-child(2){
            grid-area: 10b;
        }
        li:nth-child(3){
            grid-area: 10c;
        }
        li:nth-child(4){
            grid-area: 10d;
        }
    }

    ul:nth-child(11){
        li:nth-child(1){
            grid-area: 11a;
        }
        li:nth-child(2){
            grid-area: 11b;
        }
        li:nth-child(3){
            grid-area: 11c;
        }
        li:nth-child(4){
            grid-area: 11d;
        }
    }

    ul:nth-child(12){
        li:nth-child(1){
            grid-area: 12a;
        }
        li:nth-child(2){
            grid-area: 12b;
        }
        li:nth-child(3){
            grid-area: 12c;
        }
        li:nth-child(4){
            grid-area: 12d;
        }
    }

    ul:nth-child(13){
        li:nth-child(1){
            grid-area: 13a;
        }
        li:nth-child(2){
            grid-area: 13b;
        }
        li:nth-child(3){
            grid-area: 13c;
        }
        li:nth-child(4){
            grid-area: 13d;
        }
    }

    ul:nth-child(14){
        li:nth-child(1){
            grid-area: 14a;
        }
        li:nth-child(2){
            grid-area: 14b;
        }
        li:nth-child(3){
            grid-area: 14c;
        }
        li:nth-child(4){
            grid-area: 14d;
        }
    }

    ul:nth-child(15){
        li:nth-child(1){
            grid-area: 15a;
        }
        li:nth-child(2){
            grid-area: 15b;
        }
        li:nth-child(3){
            grid-area: 15c;
        }
        li:nth-child(4){
            grid-area: 15d;
        }
    }

    ul:nth-child(16){
        li:nth-child(1){
            grid-area: 16a;
        }
        li:nth-child(2){
            grid-area: 16b;
        }
        li:nth-child(3){
            grid-area: 16c;
        }
        li:nth-child(4){
            grid-area: 16d;
        }
    }
}
