/* =============
    Homepage
============= */

#homepage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "1a 1b"
    "2a 2b"
    "3a 3b"
    "4a 4b"
    "5a 5b"
    "6a 6b"
    "7a 7b"
    "8a 8b"
    "9a 9b"
    "10a 10b"
    "11a 11b"
    "12a 12b"
    "13a 13b"
    "14a 14b"
    "15a 15b";
    @include sm{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "1a 1b 2a"
        "2b 3a 3b"
        "4a 4b 5a"
        "5b 6a 6b"
        "7a 7b 8a"
        "8b 9a 9b"
        "10a 10b 11a"
        "11b 12a 12b"
        "13a 13b 14a"
        "14b 15a 15b";
    }
    @include md{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "1a 1b 2a 2b"
        "3a 3b 4a 4b"
        "5a 5b 6a 6b"
        "7a 7b 8a 8b"
        "9a 9b 10a 10b"
        "11a 11b 12a 12b"
        "13a 13b 14a 14b"
        "15a 15b";
    }
    @include xl{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "1a 1b 2a 2b 3a 3b"
        "4a 4b 5a 5b 6a 6b"
        "7a 7b 8a 8b 9a 9b"
        "10a 10b 11a 11b 12a 12b"
        "13a 13b 14a 14b 15a 15b";
    }

    #albumOne{
        grid-area: 1a;
        width: 100%;
    }
    #albumTwo{
        grid-area: 1b;
        width: 100%;
    }
    #albumThree{
        grid-area: 1c;
        width: 100%;
    }
    #albumFour{
        grid-area: 1d;
        width: 100%;
    }
    #albumSeventeen{
        @include md{
            display: none;
        }
        @include xl{
            display: block;
        }
    }
    #albumEighteen{
        @include md{
            display: none;
        }
        @include xl{
            display: block;
        }
    }
}
