/* =============
    Homepage
============= */

#homepage{
    z-index: 50;
    // main page with differing responsive grid layouts
    padding-top: 33px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l"
    "m n"
    "o p"
    "q r"
    ;
    @include sm{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "a a b"
        "a a c"
        "d e f"
        "g g g"
        "g g g"
        "g g g"
        "h i i"
        "j i i"
        "k l m"
        "n n o"
        "n n p"
        "q q q"
        "q q q"
        "q q q";

        // "a b c"
        // "d e f"
        // "g h i"
        // "j k l"
        // "m n o"
        // "p q r"
    }
    @include md{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "a c c c"
        "b c c c"
        "d c c c"
        "e e f g"
        "e e h i"
        "j j j k"
        "j j j l"
        "j j j m"
        "n o o p"
        "q o o r";

        // "a b c d"
        // "e f g h"
        // "i j k l"
        // "m n o p"
        // "q r"
    }
    @include xl{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "a a a b c c"
        "a a a d c c"
        "a a a e e f"
        "h h g e e j"
        "h h i n n n"
        "k l l n n n"
        "m l l n n n";

        // "a b c d e f"
        // "g h i j k l"
        // "m n o p q r"
    }

    // assigning grid areas
    #albumOne{
        grid-area: a;
        width: 100%;
    }
    #albumTwo{
        grid-area: b;
        width: 100%;
    }
    #albumThree{
        grid-area: c;
        width: 100%;
    }
    #albumFour{
        grid-area: d;
        width: 100%;
    }
    #albumFive{
        grid-area: e;
        width: 100%;
    }
    #albumSix{
        grid-area: f;
        width: 100%;
    }
    #albumSeven{
        grid-area: g;
        width: 100%;
    }
    #albumEight{
        grid-area: h;
        width: 100%;
    }
    #albumNine{
        grid-area: i;
        width: 100%;
    }
    #albumTen{
        grid-area: j;
        width: 100%;
    }
    #albumEleven{
        grid-area: k;
        width: 100%;
    }
    #albumTwelve{
        grid-area: l;
        width: 100%;
    }
    #albumThirteen{
        grid-area: m;
        width: 100%;
    }
    #albumFourteen{
        grid-area: n;
        width: 100%;
    }
    #albumFifteen{
        grid-area: o;
        width: 100%;
        @include xl{
            display: none;
        }
    }
    #albumSixteen{
        grid-area: p;
        width: 100%;
        @include xl{
            display: none;
        }
    }
    #albumSeventeen{
        grid-area: q;
        width: 100%;
        @include xl{
            display: none;
        }
    }
    #albumEighteen{
        grid-area: r;
        width: 100%;
        @include sm{
            display: none;
        }
        @include md{
            display: block;
        }
        @include xl{
            display: none;
        }
    }
}

//main page album cover styling
.coverImage{
    position: relative;
    img{
        display: block;
        width: 100%;
        height:auto;
        transition: .45s;
    }
}

//album cover overlay positioning and styling
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .45s;
    background-color: $overlay;
    text-align: center;
    p{
        color: $white;
        padding: 20px;
        font-size: rem-calc(20);
    }
}

//vertically aligning the overlay text
.text{
    display:inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: 20%
}

.divider{
    border: 1px solid $white;
    margin-left: 30%;
    margin-right: 30%;
}

//cover overlay hover effects
.coverImage:hover .overlay{
    opacity: 1;
}

//cover image blur and scale hover effects
.coverImage:hover{
    img{
        filter: blur(15px);
        -webkit-filter: blur(3px);
        transition: .45s;
        transform: scale(1.15);
    }
}
