/* =============
    Header
============= */
header{
    position: fixed;
    width: 100%;
    background-color: $white;
    display: grid;
    grid-template-columns: 20px auto auto 20px;
    grid-template-areas: ". title burger .";
    padding: 10px 0;
    z-index: 100;

    div:nth-child(1){
        grid-area: title;
        display: flex;
        justify-content: flex-start;
    }

    div:nth-child(2){
        grid-area: burger;
        display: flex;
        justify-content: flex-end;

        #burgerContainer{
            right: 20px;
            svg{
                height: 44px;
                cursor: pointer;
            }
        }
    }
}
