/* =============
    Buttons
============= */

button{
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}
.closeButton{
    color: $white;
    font-size: rem-calc(50);
    transition: .2s;
    border-radius: 300px;
    position: fixed;
    top: 2%;
    left: 2%;
    background-color: transparent;
    z-index: 50;
}

.closeButton:hover{
    color: $red;
}
