/* =============
    Navigation
============= */

nav{
    position: fixed;
    top:0;
    right:-65vw;
    z-index: 20;
    width: 65vw;
    background-color: $white;
    @include md{
        width: 40vw;
        right:-40vw;

    }
    @include lg{
        width: 30vw;
        right:-30vw;

    }
    @include xl{
        width: 25vw;
        right:-25vw;

    }
    ul{
        padding: 100px 0 0 30px;
        li{
            margin-bottom: 20px;
            a:link, a:visited{
                color: $black;
                text-decoration: none;
                transition: 0.25s;
                font-size: rem-calc(30);
                font-family: "Roboto Condensed";
            }
            a:hover, a:active{
                color: $black;
                text-decoration: none;
                color: $red;
                padding-left: 40px;
            }
        }
    }
}
