#navBackground{
    #navBGContainer{
        z-index: 3000;
        border: 5px $red solid;
        top: -80px;
        right: 0;
        svg{
            width: 90vw;
            position: fixed;
            @include sm{
                height: 90vh;
            }
        }
    }
}
